.nav {
    grid-area: n;
    background-color: #6b6969;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    grid-gap: 20px;
    height: calc(100vh - 70px);
}

a{
    text-decoration: none;
    color: white;
}

a.activeLink{
    text-decoration: none;
    color: goldenrod;
}
